:root {
  --color-light: #ffffff;
  --color-main: #425476;
  --color-main--dark: #35445f;
  --color-main--lighten: #7a8db0;
  --color-main--light: #c0cde3;
  --color-primary--dark: #20324e;
  --color-primary: #059292;
  --color-secondary: #2f6265;
  --color-border: rgba(209, 216, 245, 0.6);
  --color-background: #f8f9fa;
  --color-background-table: rgba(64, 175, 46, 0.04);
  --color-background--light: #f0f2f9;
  --color-shadow: #e1e3eb;
  --color-svg: #a8b5be;
  --color-table-shadow: rgba(64, 175, 46, 0.3);
  --color-overlay: rgba(81, 81, 81, 0.6);
  --color-bar: #f2f2f2;

  --bright-light: rgb(255, 255, 255);
  --bright: rgb(251, 252, 254);
  --bright-dark: rgb(248, 249, 250);

  --shadow-bright: rgba(255, 255, 255, 0.5);

  --primary-light: rgb(240, 242, 249);
  --primary: rgb(60, 74, 97);
  --primary-dark: rgb(32, 50, 78);

  --shadow-primary-light: rgba(60, 74, 97, 0.1);
  --shadow-primary: rgba(60, 74, 97, 0.4);
  --shadow-primary-hard: rgba(60, 74, 97, 0.5);

  --secondary-light: rgb(192, 205, 227);
  --secondary: rgb(122, 141, 176);
  --secondary-dark: rgb(66, 84, 118);

  --red-light: rgb(255, 232, 235);
  --red: rgb(239, 49, 72);
  --red-dark: rgb(195, 34, 54);

  --shadow-red: rgba(239, 49, 72, 0.4);
  --shadow-red-hard: rgba(239, 49, 72, 0.5);

  --orange-light: rgb(255, 241, 230);
  --orange: rgb(253, 124, 0);
  --orange-dark: rgb(255, 85, 0);

  --amber-light: rgb(255, 249, 230);
  --amber: rgb(255, 184, 0);
  --amber-dark: rgb(225, 162, 0);

  --green-light: rgb(237, 252, 234);
  --green: rgb(125, 198, 25);
  --green-dark: rgb(83, 181, 8);

  --purple-light: rgb(240, 234, 254);
  --purple: #837ce6;
  --purple-dark: rgb(84, 37, 185);

  --cyan-light: rgba(42, 127, 255, 0.35);
  --cyan: #2a7fff;
  --cyan-dark: #314eb4;

  --grey-light: rgb(242, 242, 242);
  --grey: rgb(168, 181, 190);
  --grey-dark: rgb(119, 131, 140);

  --nephrite-light: rgb(233, 241, 237);
  --nephrite: rgb(33, 115, 70);
  --nephrite-dark: rgb(13, 80, 43);

  --accent-light: #e6f5f5;
  --accent: #059292;
  --accent-dark: #2f6265;

  --shadow-accent: rgba(42, 127, 255, 0.4);
  --shadow-accent-hard: rgba(42, 127, 255, 0.5);

  --shadow-nephrite: rgba(33, 115, 70, 0.5);
}
